################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Release/opencv_videoio400.dll.meta
/x64/Release/opencv_videoio400.dll
/x64/Release/opencv_video400.dll.meta
/x64/Release/opencv_video400.dll
/x64/Release/opencv_stitching400.dll.meta
/x64/Release/opencv_stitching400.dll
/x64/Release/opencv_photo400.dll.meta
/x64/Release/opencv_photo400.dll
/x64/Release/opencv_objdetect400.dll.meta
/x64/Release/opencv_objdetect400.dll
/x64/Release/opencv_ml400.dll.meta
/x64/Release/opencv_ml400.dll
/x64/Release/opencv_imgproc400.dll.meta
/x64/Release/opencv_imgproc400.dll
/x64/Release/opencv_imgcodecs400.dll.meta
/x64/Release/opencv_imgcodecs400.dll
/x64/Release/opencv_highgui400.dll.meta
/x64/Release/opencv_highgui400.dll
/x64/Release/opencv_gapi400.dll.meta
/x64/Release/opencv_gapi400.dll
/x64/Release/opencv_flann400.dll.meta
/x64/Release/opencv_flann400.dll
/x64/Release/opencv_ffmpeg400_64.dll.meta
/x64/Release/opencv_ffmpeg400_64.dll
/x64/Release/opencv_features2d400.dll.meta
/x64/Release/opencv_features2d400.dll
/x64/Release/opencv_dnn400.dll.meta
/x64/Release/opencv_dnn400.dll
/x64/Release/opencv_core400.pdb.meta
/x64/Release/opencv_core400.pdb
/x64/Release/opencv_core400.dll.meta
/x64/Release/opencv_core400.dll
/x64/Release/opencv_calib3d400.dll.meta
/x64/Release/opencv_calib3d400.dll
